---
permalink: "{% if path %}{{ path | slug }}{% else %}{{'/post/'}}{{ title | slug }}{% endif %}/index.html"
---
{% extends 'page.njk' %}
{% block body %}
    <article>
        <h1 class="text-2xl font-bold">{{ title }}</h1>
        <ul class="post-meta is-inline">
            <li>
                <time :datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            </li>
        </ul>
        {% if date %}
            {% if page.date | sixMonthsOlder %}
                <p class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
          Cet article a été posté il y a plus de 6 mois. Les informations qu&apos;il contient peuvent se montrer obsolètes.
          </p>
            {% endif %}
        {% endif %}
        <section class="prose lg:prose-xl prose-slate prose-a:text-blue-600 content mt-6">
            <figure v-if="$page.post.thumbnail">
                <img :src="`/uploads/${$page.post.thumbnail}`" fit="contain" width="500" alt/>
            </figure>

            {{ content | safe }}
        </section>
        {% if (photos | length) > 0 %}
            <section>
                {% for photo in photos %}
                    {% include "photo.njk" %}
                {% endfor %}
            </section>
        {% endif %}
        {%- set nextPost = collections['postsWithoutDrafts'] | getNextCollectionItem(page) %}
        {%- if nextPost %}
            <p class="uppercase text-xs mt-6">Next</p>
            <p class="font-bold mb-2">
                <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
            </p>
        {% endif %}
        {%- set previousPost = collections['postsWithoutDrafts'] | getPreviousCollectionItem(page) %}
        {%- if previousPost %}
            <p class="uppercase text-xs mt-6">Previous</p>

            <p class="font-bold">
                <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
            </p>
        {% endif %}
        <ul class="tags is-inline">
            {% for tag in page.tags %}
                {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                <li>
                    <a href="{{ tagUrl | url }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}