---
pagination:
  data: collections.projects
  size: 6
  alias: projects
permalink: "/projects/index.html"
---
{% extends 'page.njk' %}

{% block body %}
    <div>
        {% for project in projects %}
            <a href="{{ project.url | url }}" class="mb-4 flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-contain md:object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/img/icons/{{ project.data.thumbnail }}" alt=""/>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ project.data.title }}</h5>
                    <span class="mb-2 text-gray-700 dark:text-gray-400">{{ project.data.start_date }} - {{ project.data.end_date }}</span>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ project.data.excerpt }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}